@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
  
}



#login-box {
  padding :10px;
  margin: 10% auto;
  width: 300px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 5px 5px 5px grey;
 
 }

.left {
     
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
   h{  
      position:relative;
      top:-16px;
      font-size:20px;
      font-weight:300;
   }


input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 0px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  outline:none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.tab-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    border:none;
   

    
}
.tab {
      transform:translate(-10px ,-30px);
      float: right;
      padding:15px;
    text-color:#6E6B6B;
    text-align: center;
    text-decoration: none;
   
    }
    a{
     color:#645D5D;
     text-decoration:none;
    }
   .tabs{
   padding:12px;
   border-bottom: 2px solid  #e6e6e6;
   }   
/*................back cover................*/
 
 
     .upper {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #009999;
     border:none;
     overflow:hidden;
     
     }
     .lower {
     float: left;
     overflow:hidden;
     }
     .lower a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     }
     .lower a:hover {
     background-color: #006666;
     overflow: hidden;
     }
     .signoutbtn {
     float:right;
     overflow:hidden;
     background-color: #009999;
     border: solid #009999;
     color: white;
     padding: 5px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 8px 8px;
     cursor:pointer;
     outline:none;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     }
    
 /*............backcover.......................*/
     
     
     /*.....login cover section...*/
    .login-cover{
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index:800;
    background-color:lightgrey;
    background-size: cover;
    background-position: fixed;
   box-shadow:none;
    width:100%;
    height: 100%;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    
    }
    .background{
      width:100%;
      height: 100%;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: fixed;
    box-shadow:none;
     overflow: hidden;
     position:absolute;
     top:0;
     left:0;   
    filter:blur(5px);
    transform: scale(1.1);
    z-index:-1; 
    }
 
   
     #loginError{
     display:none;
     position:relative;
     top:0px;
     background-color:#ffe6e6;
     color:#ff3333;
     }
     #signupError{
     display:none;
     position:relative;
     top:0px;
     background-color:#ffe6e6;
     color:#ff3333;
     }
     
   
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
   float:right;
   transform:translate(-20px,0px);
     box-shadow: 8px 8px 8px grey;
     border-radius: 5px;
     
}

/* The Close Button */
.close {
    color: #aaa;
    float: centre;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#success{
  display: none;
  position:relative;
  top:0px;
  background-color:#9EC6A4;
  color:#00821D;
}